_skbuild
dist
poetry.lock
__pycache__
.coverage
requirements.txt
amber_mcap/tf2_amber.cpython-310-x86_64-linux-gnu.so

# output data
output.mcap
output.mp4

# remote rosbag
rosbag/ford_with_annotation
rosbag

# tensorbord directory
runs

# coverage
tests/coverage.xml

# editor
.vscode
