_skbuild
dist
poetry.lock
__pycache__
.coverage
requirements.txt

# output data
output.mcap
output.mp4

# remote rosbag
rosbag/ford_with_annotation
rosbag

# tensorbord directory
runs

# coverage
tests/coverage.xml
