# Project information
site_name: amber
site_url: https://rosbag-sharing-community.github.io/amber
site_author: Masaya Kataoka
site_description: ''
copyright: Copyright &copy; 2023 - Masaya Kataoka

# Repository
repo_name: rosbag-sharing-community/amber
repo_url: https://github.com/rosbag-sharing-community/amber
edit_uri: ''
docs_dir: docs

theme:
  name: material
  language: en
  features:
    - navigation.tabs
    - navigation.expand
    - navigation.top
    - toc.integrate
    #- header.autohide
  palette:
    scheme: default
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    logo: fontawesome/solid/robot
    repo: fontawesome/brands/github

# Plugins
plugins:
  - git-revision-date-localized
  - gitsnippet
  - search
  - mermaid2:
      arguments:
        theme: base
        themeVariables:
          fontFamily: verdana
          fontSize: 12px
          darkMode: false
          background: "#fff"
          primaryColor: "#DEDFEF"
          #secondaryColor: "#000"
          #mainBkg: "#0000"  # affect node bkg
          nodeBorder: "#000"
          clusterBkg: "#fff"
          clusterBorder: "#000"
          #titleColor: "#808080"
          edgeLabelBackground: "#eee"
        logLevel: 5
        securityLevel: loose
        startOnLoad: true
        arrowMarkerAbsolute: false
        flowchart:
          diagramPadding: 8
          nodeSpacing: 50
          rankSpacing: 50
          useMaxWidth: false

# Customization
extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/hakuturu583
    - icon: fontawesome/solid/paper-plane
      link: mailto:<ms.kataoka@gmail.com>

extra_css:
  - https://use.fontawesome.com/releases/v5.15.0/css/all.css

extra_javascript:
  - https://unpkg.com/mermaid/dist/mermaid.min.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js

# Extensions
markdown_extensions:
  - admonition
  - attr_list
  - codehilite: { guess_lang: false }
  - fontawesome_markdown
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji
  - pymdownx.highlight
  - toc: { permalink: "#" }
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format

nav:
  - Home: index.md
  - Tips: tips.md
  - Use rosbag as dataset:
    - How to use?: use_rosbag_as_dataset/how_to_use.md
    - Read images: use_rosbag_as_dataset/read_images.md
    - Read images and annotation: use_rosbag_as_dataset/read_images_and_annotations.md
    - Read pointclouds: use_rosbag_as_dataset/read_pointclouds.md 
  - Automation:
    - Automation: automation/automation.md
    - Detic image labaler: automation/detic_image_labaler.md
    - CLIP image annotation filter: automation/clip_image_annotation_filter.md
    - NeRF 3D Reconstruction: automation/nerf_3d_reconstruction.md
  - Visualize:
    - Visualize: visualize/visualize.md
    - CLIP image embedding: visualize/clip_image_embedding.md 
  - Import:
    - Import: import/import.md
    - Video: import/video.md
